<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.smartFitness.home">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Home">
        <activity android:name=".Add_new_nutritionist"></activity>
        <activity android:name=".Nutritionist_profile_view" />
        <activity android:name=".Search_nutritionists" />
        <activity android:name=".add_nutritionist" />
        <activity android:name=".Admin_profile_activity" />
        <activity android:name=".Admin_View_WeightTrainer_Home"></activity>
        <activity android:name=".Admin_View_DeleteWeightTrainer" />
        <activity android:name=".Customer_View_WeightTrainerList" />
        <activity android:name=".Admin_View_AddWeightTrainer" />
        <activity android:name=".Customer_view_cardio_ins_profile" />
        <activity android:name=".Admin_view_cardio_ins_add" />
        <activity android:name=".Admin_view_cardio_home" />
        <activity android:name=".customer_view_cardio_ins_list" />
        <activity android:name=".Admin_profile_activity" />
        <activity android:name=".Edit_admin_activity" />
        <activity android:name=".Add_admin_activity" />
        <activity android:name=".Customer_view_BMI_calculeter" />
        <activity android:name=".Admin_view_cardio_ins_list" />
        <activity android:name=".MainAdminLogin" />
        <activity android:name=".Admin_view_Activity" />
        <activity android:name=".Customer_view_Activity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>